{
    log {
        level WARN
        output file /var/log/caddy.log {
            roll_size 10MB
            roll_keep 10
            roll_keep_for 720h
        }
    }
}
# oss反向代理地址
https://oss.example.com {
    reverse_proxy example-oss.com
}

# Configuration for HTTPS server on port 443
https://example.com {
    handle_path /api {
        reverse_proxy https://172.17.0.1:7777 {
            transport http {
                tls
                tls_insecure_skip_verify
            }
            header_up Host {host}
            header_up X-Real-IP {remote_host}
        }
    }
	
	handle_path /api/* {
		reverse_proxy https://172.17.0.1:7777 {
			transport http {
				tls
				tls_insecure_skip_verify
			}
			header_up Host {host}
			header_up X-Real-IP {remote_host}
		}
	}

	handle {
		root * /srv/vue/blog
		try_files {path} {path}/ /index.html
		file_server
		encode gzip zstd
	}
}

# Configuration for HTTP server on port 8008
https://example.com:8008 {
	handle_path /api/* {
		reverse_proxy https://172.17.0.1:7777 {
			transport http {
				tls
				tls_insecure_skip_verify
			}
			header_up Host {host}
			header_up X-Real-IP {remote_host}
		}
	}

	handle {
		root * /srv/vue/admin
		try_files {path} {path}/ /index.html
		file_server
		encode gzip zstd
	}
}
