{
    log {
        level WARN
        output file /var/log/caddy.log {
            roll_size 10MB
            roll_keep 10
            roll_keep_for 720h
        }
    }
}
# oss反向代理地址
https://example.com {
    reverse_proxy example-oss.com
}

# Configuration for HTTPS server on port 443
https://example.com {
    @options_preflight {
        method OPTIONS
    }
    handle @options_preflight {
        respond * 204 {
            close
        }
        header Access-Control-Allow-Origin "*"
        header Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
        header Access-Control-Allow-Headers "*"
        header Access-Control-Expose-Headers "*"
        header Access-Control-Allow-Credentials "true"
    }
	
	handle {
		root * /srv/vue/blog
		file_server
		try_files {path} {path}/ /index.html
		encode gzip zstd
	}

    handle_path /api {
        reverse_proxy https://172.17.0.1:7777 {
            transport http {
                tls
                tls_insecure_skip_verify
            }
            header_up Host {host}
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-For {remote_host}
        }
    }
	
	handle_path /api/* {
		reverse_proxy https://172.17.0.1:7777 {
			transport http {
				tls
				tls_insecure_skip_verify
			}
			header_up Host {host}
			header_up X-Real-IP {remote_host}
			header_up X-Forwarded-For {remote_host}
		}
	}

    header {
        Access-Control-Allow-Origin "*"
        Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
        Access-Control-Allow-Headers "*"
        Access-Control-Expose-Headers "*"
        Access-Control-Allow-Credentials "true"
    }
}

# Configuration for HTTP server on port 8008
https://example.com:8008 {
    @options_preflight {
        method OPTIONS
    }
    handle @options_preflight {
        respond * 204 {
            close
        }
        header Access-Control-Allow-Origin "*"
        header Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
        header Access-Control-Allow-Headers "*"
        header Access-Control-Expose-Headers "*"
        header Access-Control-Allow-Credentials "true"
    }

	handle {
		root * /srv/vue/admin
		file_server
		try_files {path} {path}/ /index.html
		encode gzip zstd
	}
	
	handle_path /api/* {
		reverse_proxy https://172.17.0.1:7777 {
			transport http {
				tls
				tls_insecure_skip_verify
			}
			header_up Host {host}
			header_up X-Real-IP {remote_host}
			header_up X-Forwarded-For {remote_host}
		}
	}

    header {
        Access-Control-Allow-Origin "*"
        Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
        Access-Control-Allow-Headers "*"
        Access-Control-Expose-Headers "*"
        Access-Control-Allow-Credentials "true"
    }
}
